.fondo{
    background-color: aqua;
}

.titulo{
    font-family: 'Arial';
    color: darkblue;
    text-align: center;
}

.titulo:hover{
    color: white;
    cursor: pointer;
}

.texto{
    position:relative;
    left : 50px;
    top : 50 px;
    border-radius: 5%;
    
}