.fondo{
    background-color: aqua;
}

.titulo{
    position: relative;
    font-family: 'New Roman';
    color: darkblue;
    text-align: center;
    top: 10px;
}

.titulo:hover{
    color: white;
    cursor: pointer;
}

.texto{
    position:relative;
    left : 50px;
    top : 50px;
    border-radius: 5%;
    
}